@tailwind base;
@tailwind components;
@tailwind utilities;

html{
background-color: aquamarine;
background: url('./assets/imgbg4.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}